<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.angomovie.angomovie_iptv">

    <!-- PERMISSÕES DE PRODUÇÃO -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/> 

    <!-- CONFIGURAÇÃO CRÍTICA DE HARDWARE PARA TV -->
    <!-- Informa que o app roda em TVs (sem touchscreen) mas não impede a instalação em telemóveis -->
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.software.leanback" android:required="false" />
    <uses-feature android:name="android.hardware.keyboard" android:required="false" />

    <application
        android:label="AngoMovie IPTV"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:hardwareAccelerated="true" <!-- Aceleração por Hardware para reprodução de vídeo fluida -->
        android:theme="@style/LaunchTheme">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|screenLayout|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            
            <!-- 1. ATIVADOR PADRÃO: Telemóvel e Tablets -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- 2. ATIVADOR LEANBACK: Android TV e TV Box -->
            <!-- Permite que o app seja listado no ecrã das Smart TVs usando o ícone do telemóvel como fallback -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
